body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FDE6AD;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1em;
	color: black;
}

div {
  width: inherit;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact {  
  display: flex;
  align-items: center;
  
  background-color: #F8E87A;
  height: 60vh;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}



#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: both;
  height: 40vh;
}

/*
*   These compile #menu_img w/ the styles below based on page resolution
*   If screen min-width is 480px then it a big window
*/
@media screen and (min-width: 480px)
{
  #menu_img 
  {
    display: none;
    justify-content: center;
     
    position: absolute;        
    top: 500px;  
  }
}

@media screen and (max-width: 480px)
{
  #menu_img 
  {
    display: none;
    justify-content: center;
    width: 100%;
    height: auto;

    overflow: auto; 
    resize: both;
    
    position: absolute;        
    top: 500px;  
  }
}
